<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
      <div id="header">
        <nav>
          <li class="fork"><a href="{{ site.repourl }}">View On GitHub</a></li>
          <li class="fork" style="margin-left:10px"><a href="{{ site.homeurl }}">Home</a></li>
        <div id="page-dropdown">
          <ul class="pagelist"><span>Pages</span>
          {% for post in site.posts %}  
            <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>    
          {% endfor %}
          </ul>
        </div>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          <h1>{{ page.title }}</h1>
          <p>{{ page.description }}</p>
          <hr>
        </div>

        {{ content }}

      </section>

    </div>
  </body>
</html>
